body {
  
    
}
.figure{
  padding-left: 200px;
}
.plight{
  margin-left: 350px
}
#vids{
  padding-left: 100px
}
#reddish{
  color: blue
}
#blueish {
  color: blue
}
.higure {
  padding-left: 100px;
}